/* ====================== PAGE LOGIN ====================== */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffe6f2;
  font-family: "Poppins", sans-serif;
  color: #ff1493;
}

.login-box {
  background-color: #fff0f7;
  padding: 35px;
  border-radius: 20px;
  border: 3px solid #fbb1d8;
  width: 360px;
  box-shadow: 0 0 15px rgba(255, 105, 180, 0.2);
  text-align: center;
}

.login-title {
  background-color: #ffb6d9;
  color: #b4345c;
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
  text-align: center;
}

.login-box label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #b4345c;
  text-align: left;
  margin-left: 8%;
}

.login-box input {
  width: 85%;
  padding: 12px;
  margin: 10px auto;
  display: block;
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  background: #fffafc;
}

.login-box input::placeholder {
  color: #aaa;
}

.login-box select {
  width: 90%;
  padding: 12px;
  border-radius: 10px;
  border: 2px solid #ddd;
  margin-top: 8px;
  background-color: #fffafc;
  color: #b4345c;
  font-weight: 500;
  text-align: center;
  outline: none;
}

.login-box select:focus {
  border-color: #ff1493;
  box-shadow: 0 0 6px rgba(255, 105, 180, 0.3);
}

.login-box button {
  width: 100%;
  padding: 12px;
  background-color: #ff1493;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.3s;
}

.login-box button:hover {
  background-color: #e2038f;
}

.error-message {
  color: crimson;
  margin-top: 6px;
  font-size: 13px;
}

.register-link {
  margin-top: 18px;
  font-size: 14px;
  color: #b4345c;
}

.register-link a {
  color: #b4345c;
  text-decoration: underline;
  font-weight: 500;
}

.register-link a:hover {
  color: #ff69b4;
}
.role-select {
  width: 90%;
  padding: 10px;
  margin: 10px auto;
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 14px;
  color: #c3007a;
  background: #fff;
  text-align: center;
}




